<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.faraa.sohrabpakravan.dambel">

    <uses-permission android:name="android.permission.INTERNET" />




    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.CoachProfile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.MovesVideoPlayerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.VerificationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.DailyProgramActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.SelectExerciseActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.ReceiveProgram"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.ReviewProgram"
            android:theme="@style/AppTheme.NoActionBar" ></activity>

        <receiver android:name=".Activities.LoginActivity$MySMSBroadcastReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED"/>
            </intent-filter>
        </receiver>
    </application>



</manifest>